# ----------------------------------------------------------------------------
# SENSIFITE DATA
# ----------------------------------------------------------------------------
.env
.env.local
.env.development
.env.production

# ----------------------------------------------------------------------------
# DEPENDENCIES
# ----------------------------------------------------------------------------
node_modules/
jspm_packages/

# ----------------------------------------------------------------------------
# ANDROID
# ----------------------------------------------------------------------------
.gradle
local.properties
*.keystore
*.jks
*.ap_
*.apk
*.aab
bin/
build/
captures/
.externalNativeBuild
.cxx

# ----------------------------------------------------------------------------
# IOS
# ----------------------------------------------------------------------------
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcscheme
*.xcuserstate
*.app
*.ipa

# ----------------------------------------------------------------------------
# OS / TOOLS
# ----------------------------------------------------------------------------
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------------------------------
# METRO BUNDLER
# ----------------------------------------------------------------------------
.expo/*
.metro/*